body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.container{
    width: 320px;
    height: 85%;
    background-color: rgb(255, 246, 246);
    border-radius: 15px;
    box-shadow: 1px 1px 10px #00000029;
    overflow: hidden;
}
.display-container{
    width: 100%;
    height: 35%;
    background-color: rgb(187, 0, 255);
    border-bottom-left-radius: 250%;
    border-bottom-right-radius: 250%;
}
.display-container>h2,.display-container>h4{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}
#info{
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}
#result{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.button-container{
    width: 90%;
    height: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
    margin: auto;
    margin: 10px auto;
}
.button-container>div{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px #00000067;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}
#allclear,#divide,#percentage,#del,#multiple,#minus,#plus{
    color: rgb(255, 94, 0);
}
#equal{
    background-color: rgb(255, 94, 0);
    color: white;
}
#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#zero,#dot{
    font-weight: 700;
}
#foot{
    position: fixed;
    color:rgb(58, 18, 203);
    bottom: 2vh;
    text-align: center;
}