@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.first-section {
  width: 100%;
  height: 100vh;
  background-image: url(./bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.first-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(to top, rgb(55, 255, 0), #ffffff00);
}
.first-section > h1 {
  font-size: 70px;
  text-shadow: 0px 0px 15px #000;
  color: orange;
  z-index: 1;
  margin: 10px;
  font-family: "Roboto Slab", serif;
}
.first-section > p {
  color: white;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 10px 20px;
  font-weight: 500;
  text-align: center;
}
.about {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about > img {
  width: 250px;
  height: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  border-right: 10px solid orange;
  border-bottom: 10px solid #355dff;
}
.about > div {
  width: 60%;
}
.about > div > h1 {
  font-family: "Roboto Slab", serif;
  color: rgb(55, 255, 0);
  border-bottom: 3px solid orange;
  width: 130px;
}
.about > div > p {
  margin: 20px 10px;
  text-align: start;
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.about > div > p::first-letter {
  font-size: 25px;
  color: rgb(55, 255, 0);
  font-weight: 700;
}
.award-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff6435;
  padding: 20px 0px;
}
.award-section > h1,
.award-section > h2 {
  font-family: "Roboto Slab", serif;
  color: rgb(55, 255, 0);
  border-bottom: 3px solid rgb(0, 26, 255);
}
.award-section > h2 {
  color: rgb(55, 255, 0);
}
.award {
  width: 80%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}
.award::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 5px;
  height: 140%;
  background-color: orange;
}
.award > p {
  margin: 10px 10px;
}
.award > p:first-child {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: center;
  color: #ff6435;
}
.qoute-section {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Kavivanar", cursive;
}
.qoute-section > h2 {
  color: #ff6435;
  margin: 0;
}
.qoute-section > p {
  text-align: end;
  color: orange;
  font-weight: 700;
}
footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-bottom: 20px solid orange;
}
footer > h2 {
  font-family: "Roboto Slab", serif;
  color: #355dff;
}
footer > a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(104, 53, 255);
  text-decoration: none;
}

.first-section {
  background-size: cover;
  background-position: -300px;
  justify-content: end;
}
.first-section > h1 {
  font-size: 40px;
  color: rgb(226, 226, 0);
  text-shadow: 0px 0px 15px #000;
}
.first-section > p {
  margin-bottom: 30px;
}
.about {
  flex-direction: column;
  height: auto;
}
.about > img {
  margin: 30px auto;
}
.about > div {
  width: 90%;
}
.about > div > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
footer > h2 {
  bottom: 0vh;
  font-size: 20px;
  align-items: center;
}

#foot {
  align-content: center;
  color: rgb(58, 18, 203);
  bottom: 2vh;
}
